<navbar></navbar>
<p></p>
<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">Email: {{user.email}} Id: {{user._id}} Type: {{user.provider}} Role: {{user.role}}</span>
	    </div>
        <a ng-click="admin.delete(user)" uib-tooltip="Delete" class="trash"><span class="fa fa-trash fa-fw fa-2x"></span></a>
        <a ng-click="admin.resetPassword(user)" uib-tooltip="Reset Password" class="trash"><span class="fa fa-undo fa-fw fa-counter-spin fa-2x"></span></a>
    </li>
  </ul>
</div>
