<navbar></navbar>
<div ng-show="test.new" class="test-container padding-top">
  </br>
  <h1>Smokey Bay Air Company Tests</h1></br>
  <h3>Please choose a test to take</h3></br>
  <ul class="nav navbar-nav">    
    <li ng-show="nav.hasRole('applicant')" class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Choose Test <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="folder in nav.testMenu" class="dropdown-submenu">
                <a tabindex="-1" href="#">{{folder.cat}}</a>
                <ul class="dropdown-menu">
                    <li ng-repeat="test in folder.list">
                      <a ng-click="nav.setTest(test)" href="#">{{test.name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
  </ul>
</div>
<div ng-hide="test.new" class="test-container padding-top">
    <iframe embed-src="{{test.iframeSrc}}" src="{{test.iframeSrc}}" frameborder="0" class="test-frame"></iframe>
</div>