.grid {
  height: 83vh;
  width:auto;
}
.outer{
  position:absolute;
  width:100vw;
}
.whole{
  height:100vh;
  position:absolute; 
}

.blue {
  background-color: #1fe0f0;
  color: #153ff0;
}
label.form-control{
  border:none;
  box-shadow:none;
  text-align:right;
}
._720kb-datepicker-calendar-day._720kb-datepicker-today {
  font-weight: bold;
}