<navbar></navbar>
<!--<div class="padding-top">-->
<div class="row second-row">
  <div class="col-xs-1 col-md-1">
    <button ng-click="one.today()" class="btn btn-success space">Now</button>
  </div>
  <div class="col-sm-3 col-xs-3 col-md-3">
      <datepicker date-format="EEEE MMM d, yyyy" >
          <input class="form-control" ng-model="one.date" ng-change="one.upDate()" type="text"/>
      </datepicker>
      <h5 ng-class="one.socket">S</h5>
  </div>
  <div class="col-sm-2 col-xs-2 col-md-2"><label class="form-control">
    <a href='#' ng-click="one.minus()"><i class="fa fa-minus-circle fa-fw fa-autosize" aria-hidden="true"></i></a>
    <a href='#' ng-click="one.plus()"><i class="fa fa-plus-circle fa-fw fa-autosize" aria-hidden="true"></i></a>
  </label></div>
  <div class="col-sm-2 col-xs-2 col-md-2">
      <ui-select ng-model="one.time.selected" theme="selectize" ng-disabled="disabled" ng-change="one.makeSm()">
          <ui-select-match placeholder="Choose...">{{$select.selected.time}}</ui-select-match>
          <ui-select-choices repeat="tm in one.times" >
            <div ng-bind-html="tm.time | highlight: $select.search"></div>
          </ui-select-choices>
      </ui-select>
  </div>
  <div class="col-xs-4 col-md-4">
    <div class="one-container">
      <button class="btn btn-success btn-autosize" ng-click="one.print()">Print</button>
      <chat></chat>
      <a href="/sms" ><button class="btn-autosize" ng-class="one.smsClass">SMS</button></a>
      <button ng-click="one.addFlight()" class="btn btn-info btn-autosize">+Flight</button>
    </div>
  </div>
</div>
<div class="third-row">
  <my-grid name-true="false" my-api="reservations" date="one.date" smfltnum={{one.smfltnum}} print="one.print()"></my-grid>
</div>
