node_modules
public
.tmp
.idea
client/bower_components
client/assets/pdfs/*
!client/assets/pdfs/.gitkeep 
dist
/server/config/local.env.js
npm-debug.log
.c9
/server/config/environment/development.js
test.sqlite
