.alt-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.space{
    margin-left:15px;
    margin-right:15px;
}
.small-table{
    font-size:x-small;
}
.big-table{
    font-size:medium;
}
@media print{
    .full-sheet{
      height:10.21in;
    }
}
