<div class="row">
  <div class="col-sm-6 col-md-4">
    <a ng-class="classes" ng-click="OauthButtons.loginOauth('facebook')" class="btn btn-social btn-facebook">
      <i class="fa fa-facebook"></i>
      Connect with your Facebook login credentials
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a ng-class="classes" ng-click="OauthButtons.loginOauth('google')" class="btn btn-social btn-google">
      <i class="fa fa-google-plus"></i>
      Connect with your Google+ login credentials
    </a>
  </div>
  <div class="col-sm-6 col-md-4">
    <a ng-class="classes" ng-click="OauthButtons.loginOauth('twitter')" class="btn btn-social btn-twitter">
      <i class="fa fa-twitter"></i>
      Connect with your Twitter login credentials
    </a>
  </div>
</div>