<navbar></navbar>
<div class="container"> 
  </br>
  <div ng-repeat="hour in man.hours" ng-click="man.oneFlight(hour.hour)">
   
   <div class="row">
     <div class="col-md-2 ">{{hour.hour + ':00 hour'}}</div>
   </div>
   <div ng-repeat="section in hour.sections">
    <div class="row">
      <div class="col-md-1 "></div>
      <div class="col-md-2 ">{{section.code + ' ' + section.time}}</div>
    </div>
    <div class="row">
      <div class="col-md-1 "></div>
      <div class="col-md-11 ">‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾</div>
    </div>
    <div ng-repeat="flight in section.flights">
      <div class="row" >
        
        <div class="col-md-2 "></div>
        <div class="col-md-2 "><em>{{flight.flight}}</em></div>
        <div class="col-md-8 "><em>{{flight.date | date : 'MM/dd/yyyy'}}{{ ' ' + flight.aircraft + ' ' + flight.pilot}}</em></div>
      </div>
      
      
        <div ng-repeat="res in flight.reservations"> 
         <div class="row">
            <div class="col-md-3 "></div>
            <div class="col-md-4 ">{{res.FIRST + ' ' + res.LAST}}</div>
            <div class="col-md-2 ">{{res.WEIGHT}}</div>
            <div class="col-md-2 ">{{res.FWeight}}</div>
         </div> 
        </div>
        </br>
      </div>
    </div> 
    
    
   </div>  
  </div>
</div> 