@media screen{
  .page{
    margin-left:33em;
    margin-right:33em;
  }
  .footer{
    height: 3in;
  }
}
@media screen,print {
  
  .bld {
    font-weight:bold; 
  }
  .bottom{
    border-bottom: 1px solid black;
  }
  .top{
    border-top: 1px solid black;
  }
  .lgg {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight:bold; 
    font-size:110%;
  }
  .lg {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size:130%;
  }
  em { text-decoration:underline; }
  
}
@media print {
  .seven{
    height:6.9in;
  }
  .footer{
    page-break-after: always;
  }
  @page { margin:1cm }
    @page :first {
      margin-top:1cm;
    }
    @page :left {
      margin-top:1cm;
      margin-left:1.70in;
      margin-right:1.705in;
      margin-bottom:1cm;
    }
    @page :right {
      margin-top:1cm;
      margin-left:1.70in;
      margin-right:1.70in;
      margin-bottom:1cm;
    }
}