.blue {
  background-color: #1fe0f0;
  color: #153ff0;
} 
.grid .ui-grid-row .green.even {
  background-color: #ccffcc;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .green.odd {
  background-color: #b3ffb3;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .red.even {
  background-color: #ffd6cc;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .red.odd {
  background-color: #ffc2b3;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .yellow.even {
  background-color: #ffff66;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .yellow.odd {
  background-color: #ffff99;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .green.even.two {
  background-color: #ccffff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .green.odd.two {
  background-color: #b3ffff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .red.even.two {
  background-color: #eeccff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .red.odd.two {
  background-color: #e6b3ff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .yellow.even.two {
  background-color: #fff5cc;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .yellow.odd.two {
  background-color: #fff0b3;
  border: .5px solid lightgray;
}

.grid{
  font-weight:bold; 
}
@media screen and (min-width: 1400px) { 
  .selectize-dropdown-content {
    max-height:340px;
  }
}
@media screen and (max-width: 1400px) { 
  .selectize-dropdown-content {
    max-height:150px;
  }
}
.ngCell .typeaheadcontainer {
  display: table; margin-right: auto; margin-left: auto;width:95%  
}

.ngCell .typeaheadcontrol {
  width:100%
}
