.blue {
  background-color: #1fe0f0;
  color: #153ff0;
} 
.grid .ui-grid-row .even.green.one {
  background-color: #ccffcc;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .odd.green.one {
  background-color: #b3ffb3;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .even.red.one {
  background-color: #ffd6cc;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .odd.red.one {
  background-color: #ffc2b3;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .even.yellow.one {
  background-color: #ffff66;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .odd.yellow.one {
  background-color: #ffff99;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .even.green.two {
  background-color: #ccffff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .odd.green.two {
  background-color: #b3ffff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .even.red.two {
  background-color: #eeccff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .odd.red.two {
  background-color: #e6b3ff;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .even.yellow.two {
  background-color: #fff5cc;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .odd.yellow.two {
  background-color: #fff0b3;
  border: .5px solid lightgray;
}
.grid .ui-grid-row .frontInterVillage {
  color: #0000cc;
}
.grid .ui-grid-row .midInterVillage {
  color: #0000cc;
}
.grid .ui-grid-row .backInterVillage {
  color: #0000cc;
}
.grid .ui-grid-row .custColor {
  color:#ffcc00;
}

.grid{
  font-weight:bold; 
}
@media screen and (min-width: 1400px) { 
  .selectize-dropdown-content {
    max-height:340px;
  }
}
@media screen and (max-width: 1400px) { 
  .selectize-dropdown-content {
    max-height:150px;
  }
}
.ngCell .typeaheadcontainer {
  display: table; margin-right: auto; margin-left: auto;width:95%  
}

.ngCell .typeaheadcontrol {
  width:100%
}
