.dayCell {
    float:left;
    width:100%;
    height:170px;
    margin:10px;
    padding:10px;
    border-radius:20px;
    box-shadow: .6em .6em .8em ;
    background: #ffffff;
}

.drag {
  opacity: 0.5;
}
.over {
  background: #ffe6e6;
}
.maintenance{
  background: #ccffee;
  padding:20px;
}